<form method="post" action="https://listmonk.thinkmoult.com/subscription/form" class="listmonk-form">
  <div>
    <input type="hidden" name="nonce">

    <p><input type="email" name="email" required placeholder="E-mail"></p>
    <p><input type="text" name="name" placeholder="Name (optional)"></p>

    <p class="listmonk-list-choice">
      <input id="f9096" type="checkbox" name="l" checked value="f9096421-644e-4447-ae63-86a1a289f2c9">
      <label for="f9096">OSArch News</label>
      <span>A monthly (at most) summary of news and events related to free software in OSArch to keep up to date.</span>
    </p>

    <input type="submit" value="Subscribe">
  </div>
</form>
